body {
    background-color: #1C2347;
  }
  textoprincipal{
    background-color:#5AB2F8;
  }
  #A{
    width: 100%;
  }
  h1 {
    text-align: center;
    color: #005EA8;
    font-size:40px;
  }
  p{
    font-size:28px;
  }
  #missaoext-align: center;
  }
  #n{
    color: #8E9ADD
  }
  